$menuHeight: 65px+10px;

@mixin transition {
    transition-property: background-color opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

html,
body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    color: white;
    margin-top: 25px;
}

#mazeContainer {
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    top: $menuHeight;
    opacity: 0;
    display: inline-block;
    background-color: rgba(35, 213, 171, 0.5);
    margin: auto;
    margin-bottom: 5rem;

    #mazeCanvas {
        margin: 0;
        display: block;
        border: solid 2px rgba(0, 0, 0, 0.70);
    }
}

input {
    @include transition;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
    &:hover {
        background-color: rgba(0, 0, 0, 0.70);
    }
    &:focus {
        outline: none;
    }
}

option {
    border: none;
    background-color: rgba(0, 0, 0, 0.30);
}

.menu-border {
    border: 2px solid white;
}

#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 1;
    #message {
        width: 300px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -150px;
    }
}

#page {
    font-family: Arial, sans-serif;
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
    #menu {
        margin: auto;
        padding: 10px;
        height: 65px;
        box-sizing: border-box;
        h1 {
            margin: 0;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 3.2rem;
        }
    }
    #view {
        position: absolute;
        top:150px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
    }
}

#gradient_bg {
    width: 100vw;
    height: 100vh;
    // background-color: rgba(0, 0, 0, 0.70);
    background: linear-gradient(-45deg, #23A6D5, #EE7752,  #23D5AB);
    background-size: 100% 100%;

    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
}